
.plyr--ready {
    position: relative;
}

.plyr-ads {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: pointer;

    video {
        left: 0;
    }

    &__youtube {
        // visibility: hidden;
    }

    &__skip-button {
        font-size: .8rem;
        position: absolute;
        color: #fff;
        bottom: 40px;
        right: 0;
        z-index: 11;
        background: rgba(0,0,0,.8);
        padding: 5px 10px;
        cursor: pointer;
        border: none;

        &.done {
            font-size: 1.5rem;
            &:after {
                content: '';
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAABGdBTUEAALGPC/xhBQAAAAJiS0dEAP+Hj8y/AAAAZElEQVQ4y+3SwQmDQBBGYRFy9mYLSRXWEyvRRtKBbdhDUoTH8HkVllX+u++48GD2zTTNTYiPrnhDXeBnyAT+Zo9EgNUrE9iMmQCLvhTas2jXWY8jvbNPP5OsU5L1my0uPY2bCjtXdo6mqRVtTgAAAABJRU5ErkJggg==');
                background-repeat: no-repeat;
                display: inline-block;
                height: 24px;
                margin-left: 2px;
                vertical-align: middle;
                width: 24px;
                display: inline-block;
            }
        }
    }
}
